
.large3 img {
  width: 90vh;
  height: 90vh;
}

.small3 {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  align-content: center;
}

.small3 img {
  width: 45vh;
  height: 45vh;
}
