

.images2 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.large2 img {
  width: 88vh;
  height: 88vh;
}

.small2 {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  align-content: center;
}

.small2 img {
  width: 44vh;
  height: 44vh;
}
