.gallery {
  position: relative;
  overflow: scroll;
}

.galleryRail {
  display: flex;
  transition: all .5s ease;
}

.galleryRail img {
  display: block;
  margin: 0 auto;
}

.galleryRail figure {
  display:flex;
  align-items: center;
  align-content: center;
  margin: 0 auto;

}

.images {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

}

.large img {
  width: 96vh;
  height: 96vh;
}

.small {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.small img {
  width: 48vh;
  height: 48vh;
}


/*.galleryNav div {
  position: fixed;
  margin-top: 50vh;
  cursor: pointer;
  z-index: 1;
}

.galleryNav div::before,
.galleryNav div::after {
  content: "";
  position: fixed;
  background: white;
    text-align: center;
}

.galleryNav div::before {
  width: 1vh;
  height: 4vh;
}

.galleryNav div::after {
  width: 4vh;
  height: 1vh;
}

#prev {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 4vh;
}

#next {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 5vh;
}*/


.galleryNav div {
  position: fixed;
  margin-top: 50vh;
  cursor: pointer;
  z-index: 1;
}
.arrow-next,
.arrow-prev {
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.arrow-next {
  transform: rotate(-45deg);
  width: 4vh;
  height: 4vh;
  right: 6vh;
  top: 0vh;
}

.arrow-prev {
  transform: rotate(135deg);
    width: 4vh;
    height: 4vh;
    left: 4vh;
    top: 0vh;

}


.round1 {
  left: 2vh;
  top: -2vh;
  width: 8vh;
  height: 8vh;
  background: #212121;
  border-radius: 150px;
  box-shadow: 2px 4px 5px 0 rgba(0,0,0,0.50);
}


.round2 {
  right: 4vh;
  top: -2vh;
  width: 8vh;
  height: 8vh;
  background: #212121;
  border-radius: 150px;
  box-shadow: 2px 4px 5px 0 rgba(0,0,0,0.50);
}
