body {
  background-color: white;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
}

.gallery {
  position: relative;
}

.galleryRail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-top: 3vh;

}

/*.galleryRail img {
  display: block;
  margin: 0 auto;
}*/

.galleryRail figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.large img {
  width: 100vh;
  height: 100vh;
}

.small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.small img {
  width: 50vh;
  height: 50vh;
}




.galleryNav  {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 10vh);
  height: calc(100% - 8vh);
}

.galleryNav img {
  position: fixed;
  display: block;
  width: 10vh;
  height: 10vh;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}



#prev img {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#next img {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/*.galleryNav div {
position: fixed;
margin-top: 50vh;
cursor: pointer;
z-index: 1;
}

.galleryNav div::before,
.galleryNav div::after {
content: "";
position: fixed;
background: white;
text-align: center;
}

.galleryNav div::before {
width: 1vh;
height: 4vh;
}

.galleryNav div::after {
width: 4vh;
height: 1vh;
}

#prev {
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
left: 4vh;
}

#next {
-webkit-transform: rotate(135deg);
transform: rotate(135deg);
right: 5vh;
}*/


/*.round1,
.round2 {
  width: 8vh;
  height: 8vh;
  background: #212121;
  border-radius: 150px;
  box-shadow: 2px 4px 5px 0 rgba(0,0,0,.5);
}

.round1{
  left: 2vh;
  top: -2vh;
}

.round2 {
  right: 2vh;
  top: -2vh;
}*/
