.gallery {
  position: relative;
  overflow: scroll;
}

.galleryRail {
  display: flex;
  transition: all .5s ease;
}

.galleryRail img {
  display: block;
  margin: 0 auto;
}

.galleryRail figure {
  display:flex;
  align-items: center;
  align-content: center;
  margin: 0 auto;

}

.images {
  display: flex;
  position: relative;
  align-items: center;

}


.large img {
  width: 96vh;
  height: 96vh;
}

.small {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.small img {
  width: 48vh;
  height: 48vh;
}

.galleryNav div {
  position: fixed;
  margin-top: 50vh;
  cursor: pointer;
  z-index: 1;
}

.galleryNav div::before,
.galleryNav div::after {
  content: "";
  position: fixed;
  background: #9FAFC2;
}

.galleryNav div::before {
  width: 5px;
  height: 20px;
}

.galleryNav div::after {
  width: 20px;
  height: 5px;
}

#prev {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 15px;
}

#next {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 15px;
}
