.menubar,
.footer {
  position: fixed;
  background-color: black;
  height: 6vh;
  width: 100%;
  left: 0vh;
}

.menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0vh;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: black;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.footer {
  bottom: 0vh;
  text-align: center;
  margin: -6px auto;
  height: 6vh;
}


.about {
  position: fixed;
  margin-left: -30vw;
}

.name {
  position: fixed;
  margin-left: 0vw;
}
.contacts {
  position: fixed;
  margin-left: 30vw;
}

a {
  font-family: 'Work Sans', sans-serif;
  font-size: 2vh;
  line-height: 6vh;
  color: white;
  text-decoration: none;;
  display: inline-block;
}
